[data-scope='image-cropper'][data-part='root'] {
	@apply relative w-full max-w-2xl mx-auto;
}

[data-scope='image-cropper'][data-part='viewport'] {
	@apply relative overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-900;
	@apply select-none touch-none;
	min-height: 400px;
}

[data-scope='image-cropper'][data-part='image'] {
	@apply w-full h-auto block;
	@apply select-none pointer-events-none;
}

[data-scope='image-cropper'][data-part='selection'] {
	@apply absolute;
	@apply border-1 border-blue-50;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

[data-scope='image-cropper'][data-part='selection'][data-shape='circle'] {
	@apply rounded-full;
}

[data-scope='image-cropper'][data-part='grid'] {
	@apply absolute bg-white/30;
}

[data-scope='image-cropper'][data-part='grid'][data-axis='horizontal'] {
	@apply h-px left-0 right-0;
	top: 33.33%;
}

[data-scope='image-cropper'][data-part='grid'][data-axis='horizontal']:last-of-type {
	top: 66.66%;
}

[data-scope='image-cropper'][data-part='grid'][data-axis='vertical'] {
	@apply w-px top-0 bottom-0;
	left: 33.33%;
}

[data-scope='image-cropper'][data-part='grid'][data-axis='vertical']:last-of-type {
	left: 66.66%;
}

[data-scope='image-cropper'][data-part='handle'] {
	@apply absolute w-[30px] h-[30px] touch-none cursor-grab;
}

[data-scope='image-cropper'][data-part='handle'] > span {
	@apply w-2.5 h-2.5 bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

[data-scope='image-cropper'][data-part='handle'][data-position='top-left'] {
	@apply top-0 left-0 -translate-x-1/2 -translate-y-1/2 cursor-nwse-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='top'] {
	@apply top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 cursor-ns-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='top-right'] {
	@apply top-0 right-0 translate-x-1/2 -translate-y-1/2 cursor-nesw-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='right'] {
	@apply top-1/2 right-0 translate-x-1/2 -translate-y-1/2 cursor-ew-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='bottom-right'] {
	@apply bottom-0 right-0 translate-x-1/2 translate-y-1/2 cursor-nwse-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='bottom'] {
	@apply bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 cursor-ns-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='bottom-left'] {
	@apply bottom-0 left-0 -translate-x-1/2 translate-y-1/2 cursor-nesw-resize;
}

[data-scope='image-cropper'][data-part='handle'][data-position='left'] {
	@apply top-1/2 left-0 -translate-x-1/2 -translate-y-1/2 cursor-ew-resize;
}

[data-scope='image-cropper'][data-part='controls'] {
	@apply flex gap-4 items-start;
}

[data-scope='image-cropper'][data-part='controls-section'] {
	@apply flex-1;
}