name: Publish

on:
  push:
    paths:
      - ".changeset/**"
      - "packages/**"
    branches:
      - main
      
permissions:
  id-token: write  # Required for OIDC
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build packages
        run: pnpm build

      - name: Create release Pull Request or publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release && git push --follow-tags
          commit: "ci(changesets): version packages"
          createGithubReleases: true
        env:
          NPM_CONFIG_PROVENANCE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}